<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Week 12</title>
    <link rel="stylesheet" href="./css/styles.css" />
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a href="./"><div class="logo"></div></a>
        </li>
        <li><a style="color: #4f46e5" href="./">Home</a></li>
        <li><a href="../jobs/">Browse Jobs</a></li>
        <li><a href="../job-postings">Job Postings</a></li>
        <li><a href="../add-job/">Add a Job</a></li>
        <li><a href="../suggestions/">Suggestions</a></li>
        <li><a href="../job-quiz">Job Quiz</a></li>
        <li><a href="../jobs-pdf-viewer">Job PDFs</a></li>
      </ul>
    </nav>

    <div class="hero"></div>
    <div class="title">Discover the World's Strangest Careers</div>
    <div class="tag">Think Outside the normal 9-to-5</div>
    <button><a href="../jobs/">Browse Jobs</a></button>

    <main>
      <div class="How"><h1>How it Works</h1></div>
      <div class="steps"><h3>3 steps to find your dream job:</h3></div>

      <div class="bubbles-container">
        <div class="bubble1">
          <div class="step1">
            <h2>Step 1</h2>
            <p>Browse through our curated list of unique jobs.</p>
          </div>
        </div>

        <div class="bubble2">
          <div class="step2">
            <h2>Step 2</h2>
            <p>Learn about and apply for the jobs that interest you.</p>
          </div>
        </div>

        <div class="bubble3">
          <div class="step3">
            <h2>Step 3</h2>
            <p>Get hired and start your new adventure!</p>
          </div>
        </div>
      </div>
    </main>

    <script src="./js/home.js"></script>
  </body>
</html>
