<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Job PDF Generator</title>
    <link rel="stylesheet" href="../css/matt.css" />
    <style></style>
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a href="./"><div class="logo"></div></a>
        </li>
        <li><a href="../">Home</a></li>
        <li><a href="../jobs/">Browse Jobs</a></li>
        <li><a href="../add-job/">Add a Job</a></li>
        <li><a href="../suggestions/">Suggestions</a></li>
        <li><a href="../job-quiz">Job Quiz</a></li>
        <li><a href="../salary">Salary Comparison</a></li>
        <li>
          <a style="color: #4f46e5" href="../jobs-pdf-viewer">Job PDFs</a>
        </li>
      </ul>
    </nav>

    <div class="pdf-jobs-container">
      <h1>Job PDF Generator</h1>
      <select id="job-select">
        <option value="">Select a job</option>
      </select>

      <div class="btns">
        <button id="view">View PDF</button>
        <button id="download">Download PDF</button>
      </div>

      <iframe id="pdf-preview"></iframe>
    </div>

    <script src="../js/jobsPDF.js" type="module"></script>
  </body>
</html>
