<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Job Suggestions</title>
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a href="../"><div class="logo"></div></a>
        </li>
        <li><a href="../">Home</a></li>
        <li><a href="../jobs/">Browse Jobs</a></li>
        <li><a href="../add-job/">Add a Job</a></li>
        <li><a href="../suggestions/">Suggestions</a></li>
        <li><a href="../job-quiz">Job Quiz</a></li>
        <li><a href="../salary">Salary Comparison</a></li>
        <li>
          <a href="../jobs-pdf-viewer">Job PDFs</a>
        </li>
      </ul>
    </nav>
    <main>
      <section class="suggest-job">
        <h2>Suggest a Weird Job!</h2>
        <form id="newSuggestion">
          <input name="title" type="text" placeholder="Job Title" required />
          <textarea
            name="description"
            placeholder="Job Description"
            required
          ></textarea>
          <input type="submit" class="sugbtnsub" value="Add Suggestion" />
        </form>
      </section>

      <div id="suggestionList"></div>
    </main>

    <script src="../js/suggestions.js"></script>
  </body>
</html>
