<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Job Listings</title>
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="stylesheet" href="../css/matt.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a href="../"><div class="logo"></div></a>
        </li>
        <li><a href="../">Home</a></li>
        <li><a style="color: #4f46e5" href="../jobs/">Browse Jobs</a></li>
        <li><a href="../job-postings">Job Postings</a></li>
        <li><a href="../add-job/">Add a Job</a></li>
        <li><a href="../suggestions/">Suggestions</a></li>
        <li><a href="../job-quiz">Job Quiz</a></li>
        <li><a href="../salary">Salary Comparison</a></li>

      </ul>
    </nav>

    <div class="joblistings-wrapper"></div>

    <script src="../js/joblistings.js"></script>
  </body>
</html>
